@model Project.Store

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Store</title>
</head>

<body>
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->

                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create Store</h1>
                                </div>

                                @using (Html.BeginForm("Create", "Stores", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group">
                                        <p class="control-label col-md-2">อัพโหลดรูปภาพ</p>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.url, new { htmlAttributes = new { @class = "form-control", type = "file" } })
                                            @Html.ValidationMessageFor(model => model.url, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <p class="control-label col-md-2">ชื่อร้าน</p>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <p class="control-label col-md-2">เวลา เปิด-ปิด</p>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.time, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ex. 06:00 AM - 19:00 PM" } })
                                            @*@Html.TextBoxFor(model => model.time, new { @id = "datetime", @class = "form-control datepicker" })*@
                                            @Html.ValidationMessageFor(model => model.time, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <p class="control-label col-md-2">จำนวนดาวร้าน</p>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Review, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Review, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-outline-dark mt-auto " />
                                        &nbsp;
                                        @Html.ActionLink("Back to List", "Index", "Stores", null, new { @class = "btn btn-outline-dark mt-auto " })
                                    </div>

                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        // datetime
        $('#datetime').datetimepicker({
            format: 'hh:mm: a'
        });

        $('#datetime_end').datetimepicker({
            format: 'hh:mm: a'
        });
    </script>

</body>
</html>
